<!DOCTYPE html>
<html>
  <head>
    <title>城西のアットホームな塾｜純伸舘</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,500&display=swap" rel="stylesheets">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700&display=swap" rel="stylesheet">

  </head>

  <body>
  <header class="header-fixed">


  </header>

    <%= yield %>
  <footer>
      <div class="footer-container">
          <p class="company-name">純伸舘（じゅんしんかん）</p>
          <p class="contact">Tel: <a href="tel:+81928325055">092-832-5055</a></p>
          <p class="address">〒814-0003 福岡県福岡市早良区城西2-2-28 城西アパート 201</p>
          <% if user_signed_in? %>
            <p class="admin_page"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></p>
            <p class="admin_page"><%= link_to "管理者ページ", new_user_session_path %></p>
          <% else %>
            <p class="admin_page"><%= link_to "管理者ページ", new_user_session_path %></p>
          <% end %>


          <p><br>お問い合わせは以下からお願いします。 </p>
          <div style="display: flex; align-items: center;">
            <%= link_to "https://www.instagram.com/jun_shin_kan?utm_source=ig_web_button_share_sheet&igshid=ZDNlZDc0MzIxNw==", target: "_blank" do %>
              <%= image_tag "Instagram_Glyph_Gradient.png", alt: "Instagram", style: "height: 50px; padding-right: 10px;" %>
            <% end %>
            <%= link_to "https://line.me/R/ti/p/@423ednwr?oat_content=url", target: "_blank" do %>
              <%= image_tag "LINE_Brand_icon.png", alt: "LINE", style: "height: 50px; " %>
            <% end %>
            <a href="mailto:fujii@junshinkan.net?subject=お問い合わせ&body=こちらにお問い合わせ内容を入力してください。">
              <i class="fas fa-envelope fa-3x" style="padding-left: 10px;"></i>
            </a>
          </div>



          <p class="copyright">&copy; 2023 純伸舘 All Rights Reserved.</p>
      </div>
  </footer>
  <%= link_to accesses_path, class: 'floating-button' do %>
    当塾への<br>アクセス
  <% end %>

  </body>
</html>
